<h1>Edit Sponsored Post: </h1><br>

<div class="row">
   <div class="col-md-4">
      
      <p>Guidelines for sponsored posts</p>
      <ul>
         <li>Make sure it rhymes</li>
         <li>Don't use the letter A</li>
         <li>The incessant use of hashtags will get you banned</li>
      </ul>
      
   </div>
   <div class="col-md-8">
      
      <%=  form_for [@sponsoredPost.topic, @sponsoredPost] do |f| %>
         <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control", placeholder: "Enter your sponsored post title" %>
         </div>
         
         <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, class: "form-control", placeholder: "Enter your sponsored post body" %>
         </div>
         
         <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price, class: "form-control", placeholder: "Enter your price" %>
         </div>
         
         <%= f.submit "Edit Sponsored Post", class: "btn btn-success" %>
      
      <% end %>
      
   </div>
</div>