<h1>Create New Sponsored Post: </h1><br>

<div class="row">
   <div class="col-md-4">
      
      <p>Guidelines for sponsored posts</p>
      <ul>
         <li>Make sure it rhymes</li>
         <li>Don't use the letter A</li>
         <li>The incessant use of hashtags will get you banned</li>
      </ul>
      
   </div>
   <div class="col-md-8">
      
      <%=  form_for [@topic, @sponsoredPost] do |f| %>
         <div class="form-control">
            <%= f.label :title %>
            <%= f.text_field :title, placeholder: "Enter your sponsored post title" %>
         </div>
         
         <div class="form-control">
            <%= f.label :body %>
            <%= f.text_area :body, placeholder: "Enter your sponsored post body" %>
         </div>
         
         <div class="form-control">
            <%= f.label :price %>
            <%= f.text_field :price, placeholder: "Enter your price" %>
         </div>
         
         <%= f.submit "Create New Sponsored Post", class: "btn btn-success" %>
      
      <% end %>
      
   </div>
</div>